In [47]:
import os
#get files in directory
files = os.listdir("./sample_data")
print(files)
#Jupyter hotkeys:
#https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

['supermarkets-commas.txt', 'supermarkets-semi-colons.txt', 'supermarkets.csv', 'supermarkets.json', 'supermarkets.xlsx']

In [5]:
import pandas
#read standard csv, delimited by commas
df1 = pandas.read_csv("./sample_data/supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [24]:
#get the data frame's shape
df1.shape

(6, 7)

In [4]:
#read a json formatted object
df2 = pandas.read_json("./sample_data/supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [7]:
#read an excel file at sheet index of 0
df3 = pandas.read_excel("./sample_data/supermarkets.xlsx", sheetname=0)
df3.set_index("ID")

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
#read a text file separated by commas
df4 = pandas.read_csv("./sample_data/supermarkets-commas.txt")
df4.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [13]:
#read a text file separated by semi colons
df5 = pandas.read_csv("./sample_data/supermarkets-semi-colons.txt", sep=";")
df5.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
#for help (jupyter specifc)
#pandas.read_csv?

SyntaxError: invalid syntax (<ipython-input-12-27bc9ec73cf7>, line 1)

In [15]:
#read csv from a website
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
#read json file from a website
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [6]:
#splicing dataframes
df8 = pandas.read_csv("./sample_data/supermarkets-semi-colons.txt", sep=";")
df8 = df8.set_index("Address")
df8

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
#label indexing 
#["start row" (:)to "end row" (,)by "start column" to "end column"]
df8.loc["735 Dolores St" : "332 Hill St", "ID" : "State"]

                ID           City             State
Address
735 Dolores St   2  San Francisco          CA 94119
332 Hill St      3  San Francisco  California 94114

In [8]:
#convert to a list
lst = list(df8.loc[:, "Country"])
lst

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [9]:
df8

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
#by index
df8.iloc[1:3, 1:3]

                         City             State
Address
735 Dolores St  San Francisco          CA 94119
332 Hill St     San Francisco  California 94114

In [11]:
#enter a combination of rows and indexes
#df8.ix["Name", 4] #deprecated
df8

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df8.drop("City", 1) #about to delete column indicated by passing 1, 0 to delete a row

                 ID             State Country          Name  Employees
Address
3666 21st St      1          CA 94114     USA       Madeira          8
735 Dolores St    2          CA 94119     USA   Bready Shop         15
332 Hill St       3  California 94114     USA   Super River         25
3995 23rd St      4          CA 94114     USA    Ben's Shop         10
1056 Sanchez St   5        California     USA       Sanchez         12
551 Alvarado St   6          CA 94114     USA    Richvalley         20

In [15]:
df8.drop(df8.index[0:3], 0)

                 ID           City       State Country        Name  Employees
Address
3995 23rd St      4  San Francisco    CA 94114     USA  Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA     Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA  Richvalley         20

In [17]:
df8.drop(df8.columns[0:3], 1)

                Country          Name  Employees
Address
3666 21st St        USA       Madeira          8
735 Dolores St      USA   Bready Shop         15
332 Hill St         USA   Super River         25
3995 23rd St        USA    Ben's Shop         10
1056 Sanchez St     USA       Sanchez         12
551 Alvarado St     USA    Richvalley         20

In [19]:
df8["Continent"] = df8.shape[0]*["North America"]

In [20]:
df8

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [23]:
df8["Geo"] = df8["Country"] + ", " + "North America"
df8

,ID,City,State,Country,Name,Employees,Continent,Geo
Address,,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America,"USA, North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America,"USA, North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America,"USA, North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"USA, North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America,"USA, North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America,"USA, North America"

In [27]:
df8_t = df8.T
df8_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,North America,North America,North America,North America,North America,North America
Geo,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [30]:

#create new column.. df7_t["My Address"] = ["My City", "My Country", 10 , 7, "My Shop", "My State"]

In [33]:
#geocoding address to lat/long
#splicing dataframes
df9 = pandas.read_csv("./sample_data/supermarkets-semi-colons.txt", sep=";")
df9 = df9.set_index("ID")
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [48]:
#import geopy
#dir(geopy)
from geopy.geocoders import Nominatim

In [49]:
nom=Nominatim(scheme="http")

In [50]:
loc = nom.geocode("3995 23rd St, San Francisco, CA 94114")
loc
#print(loc)
#type(loc)
#dir(geopy.location.Location)

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

In [51]:
import pandas
df = pandas.read_csv("./sample_data/supermarkets.csv")
df.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [54]:
#create fully formatted address
df["FullAddress"] = df["Address"]+ ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,ID,Address,City,State,Country,Name,Employees,FullAddress
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [55]:
#pandas does not need to iterate. 
df["Coordinates"] = df["FullAddress"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,FullAddress,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(21st Street, Castro District, SF, California,..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA",None
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(Hill Street, Liberty Street Historic District..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(Alvarado Street, Noe Valley, SF, California, ..."

In [57]:
df.Coordinates[0].latitude

37.7554451

In [61]:
#get lat / long
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None) #use lambda,if not none,
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None) #use lambda,if not none,
df

,ID,Address,City,State,Country,Name,Employees,FullAddress,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(21st Street, Castro District, SF, California,...",37.755445,-122.438770
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA",None,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440

In [64]:
df_new = df[["ID", "Address","City","State","Country","Latitude", "Longitude"]]
df_new

,ID,Address,City,State,Country,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,37.755445,-122.438770
1,2,735 Dolores St,San Francisco,CA 94119,USA,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,37.756102,-122.421041
3,4,3995 23rd St,San Francisco,CA 94114,USA,37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,37.748362,-122.429346
5,6,551 Alvarado St,San Francisco,CA 94114,USA,37.753666,-122.434440

In [68]:
#full script:
from geopy.geocoders import Nominatim
nom=Nominatim(scheme="http")
import pandas
dfl = pandas.read_csv("./sample_data/supermarkets.csv")
dfl.set_index("ID")
#create fully formatted address
dfl["FullAddress"] = dfl["Address"]+ ", " + dfl["City"] + ", " + dfl["State"] + ", " + dfl["Country"]
dfl["Coordinates"] = dfl["FullAddress"].apply(nom.geocode)
#get lat / long
dfl["Latitude"] = dfl["Coordinates"].apply(lambda x: x.latitude if x != None else None) #use lambda,if not none,
dfl["Longitude"] = dfl["Coordinates"].apply(lambda x: x.longitude if x != None else None) #use lambda,if not none,
#select final results to display
df_ll = dfl[["ID", "Address","City","State","Country","Latitude", "Longitude"]]
df_ll

,ID,Address,City,State,Country,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,37.755445,-122.438770
1,2,735 Dolores St,San Francisco,CA 94119,USA,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,37.756102,-122.421041
3,4,3995 23rd St,San Francisco,CA 94114,USA,37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,37.748362,-122.429346
5,6,551 Alvarado St,San Francisco,CA 94114,USA,37.753666,-122.434440